fastapi==0.135.3
uvicorn==0.44.0
pandas==3.0.2
numpy==2.4.4
scikit-learn==1.8.0
shap==0.51.0
lime==0.2.0.1
matplotlib==3.10.1
seaborn==0.13.2
fpdf==1.7.2
joblib==1.5.0
xgboost==3.0.0
lightgbm==4.6.0
aif360==0.6.1
fairlearn==0.10.0
python-multipart
